In [10]:

import pandas
import numpy
# any additional libraries would be imported here

jew_pop_df = pandas.read_csv('../../saves/csv/jew_pop_df.csv', low_memory=False)
pers_inc_df = pandas.read_csv('../../saves/csv/pers_inc_df.csv', low_memory=False)
data_df = jew_pop_df.join(pers_inc_df, lsuffix='_jew_pop', rsuffix='_pers_inc')
data_df = data_df.applymap(lambda x: int(x))
data_df

,1900_jew_pop,1942_jew_pop,1970_jew_pop,2010_jew_pop,1900_pers_inc,1942_pers_inc,1970_pers_inc,2010_pers_inc
0,191000,121510,75182,9000,5704,7534,17865,42861
1,12000,60000,47770,30300,6967,6157,18903,40764
2,8213,5268,3304,500,1072,1233,2500,9145
3,5000,5534,5890,6400,5566,8095,21990,42997
4,86885,250000,530000,483500,4314,4700,18185,36745
5,586948,252783,30000,119000,4596,10407,21218,40632
6,851378,445000,70000,48600,2863,6199,12917,22062
7,34653,48000,39929,28400,3528,6403,16450,35753
8,1200,970,818,600,3751,13698,29363,91147
9,103988,156000,104117,30000,6063,6617,19800,45843
10,1316776,3000000,1766023,3200,2583,2978,8705,21328
11,1200,1200,911,500,2412,3160,10175,27393
12,269015,756000,448700,9700,2474,3054,9602,16888
13,5102,3688,2746,1400,2845,4084,10197,12301
14,5000,4000,7294,12000,2730,3756,12233,32994
15,12551,14478,15763,17600,9640,13896,36582,54183
16,18228,13177,9810,5000,1194,1054,1170,4547
17,35000,25607,19345,10400,1322,3219,10467,16980
18,51044,31554,18561,0,1750,3589,7227,12494
19,30678,19002,11219,100,1295,1572,3055,10615
20,50000,30947,18245,100,539,571,778,1081
21,18680,11547,6792,0,2806,4714,67491,30261
22,109712,68853,41613,2700,824,1729,2411,6466
23,50000,90799,118000,70800,2802,6839,10394,12087
24,62545,39046,23380,1000,1053,1602,2990,10411
25,20000,177197,282000,182300,6002,6943,9951,15765
26,2000,54799,90000,95600,1201,2214,5930,14660
27,22500,180597,286000,375000,4858,11617,19842,40773
28,1000,21399,35000,39400,2164,3492,8757,15460
29,1121,769,534,200,2813,4866,8786,14325
30,1500000,4228529,5400000,5275000,6819,15702,23908,49373
31,15122,45048,65000,107500,6688,12236,19719,41330
32,1611,3859,5358,7500,7181,11465,19200,31824

In [11]:

print('counts for original 1900_jew_pop')
c1 = data_df['1900_jew_pop'].value_counts(sort=False, dropna=False)
print(c1)

counts for original 1900_jew_pop
22500      1
586948     1
12551      1
5000       2
2000       1
1500000    1
50000      2
62545      1
15122      1
8213       1
30678      1
269015     1
191000     1
1611       1
34653      1
12000      1
1121       1
1000       1
109712     1
51044      1
86885      1
1316776    1
20000      1
5102       1
1200       2
851378     1
103988     1
18680      1
35000      1
18228      1
Name: 1900_jew_pop, dtype: int64

In [ ]:

# recode missing values to python missing (NaN)
sub2['S3AQ3B1']=sub2['S3AQ3B1'].replace(9, numpy.nan)
sub2['S3AQ3C1']=sub2['S3AQ3C1'].replace(99, numpy.nan)

#if you want to include a count of missing add ,dropna=False after sort=False 
print 'counts for S3AQ3B1 with 9 set to NAN and number of missing requested'
c2 = sub2['S3AQ3B1'].value_counts(sort=False, dropna=False)
print(c2)

In [ ]:

#coding in valid data
#recode missing values to numeric value, in this example replace NaN with 11
sub2['S2AQ8A'].fillna(11, inplace=True)
#recode 99 values as missing
sub2['S2AQ8A']=sub2['S2AQ8A'].replace(99, numpy.nan)

print 'S2AQ8A with Blanks recoded as 11 and 99 set to NAN'
# check coding
chk2 = sub2['S2AQ8A'].value_counts(sort=False, dropna=False)
print(chk2)
ds2= sub2["S2AQ8A"].describe()
print(ds2)

In [ ]:

#recoding values for S3AQ3B1 into a new variable, USFREQ
recode1 = {1: 6, 2: 5, 3: 4, 4: 3, 5: 2, 6: 1}
sub2['USFREQ']= sub2['S3AQ3B1'].map(recode1)

#recoding values for S3AQ3B1 into a new variable, USFREQMO
recode2 = {1: 30, 2: 22, 3: 14, 4: 5, 5: 2.5, 6: 1}
sub2['USFREQMO']= sub2['S3AQ3B1'].map(recode2)

#secondary variable multiplying the number of days smoked/month and the approx number of cig smoked/day
sub2['NUMCIGMO_EST']=sub2['USFREQMO'] * sub2['S3AQ3C1']

#examining frequency distributions for age
print 'counts for AGE'
c3 = sub2['AGE'].value_counts(sort=False)
print(c3)

In [ ]:

print 'percentages for AGE'
p3 = sub2['AGE'].value_counts(sort=False, normalize=True)
print (p3)

In [ ]:

# quartile split (use qcut function & ask for 4 groups - gives you quartile split)
print 'AGE - 4 categories - quartiles'
sub2['AGEGROUP4']=pandas.qcut(sub2.AGE, 4, labels=["1=0%tile","2=25%tile","3=50%tile","4=75%tile"])
c4 = sub2['AGEGROUP4'].value_counts(sort=False, dropna=True)
print(c4)

In [ ]:

# categorize quantitative variable based on customized splits using cut function
# splits into 3 groups (18-20, 21-22, 23-25) - remember that Python starts counting from 0, not 1
sub2['AGEGROUP3'] = pandas.cut(sub2.AGE, [17, 20, 22, 25])
c5 = sub2['AGEGROUP3'].value_counts(sort=False, dropna=True)
print(c5)

In [ ]:

#crosstabs evaluating which ages were put into which AGEGROUP3
print (pandas.crosstab(sub2['AGEGROUP3'], sub2['AGE']))

In [ ]:

#frequency distribution for AGEGROUP3
print 'counts for AGEGROUP3'
c10 = sub2['AGEGROUP3'].value_counts(sort=False)
print(c10)

In [ ]:

print 'percentages for AGEGROUP3'
p10 = sub2['AGEGROUP3'].value_counts(sort=False, normalize=True)
print (p10)

In [ ]:

#ADDHEALTH EXAMPLE

import pandas
import numpy

data = pandas.read_csv('addhealth_pds.csv', low_memory=False)

#making individual ethnicity variables numeric
data['H1GI4'] = data['H1GI4'].convert_objects(convert_numeric=True)
data['H1GI6A'] = data['H1GI6A'].convert_objects(convert_numeric=True)
data['H1GI6B'] = data['H1GI6B'].convert_objects(convert_numeric=True)
data['H1GI6C'] = data['H1GI6C'].convert_objects(convert_numeric=True)
data['H1GI6D'] = data['H1GI6D'].convert_objects(convert_numeric=True)

#Set missing data to NAN
data['H1GI4']=data['H1GI4'].replace(6, numpy.nan)
data['H1GI4']=data['H1GI4'].replace(8, numpy.nan)
data['H1GI6A']=data['H1GI6A'].replace(6, numpy.nan)
data['H1GI6A']=data['H1GI6A'].replace(8, numpy.nan)
data['H1GI6B']=data['H1GI6B'].replace(6, numpy.nan)
data['H1GI6B']=data['H1GI6B'].replace(8, numpy.nan)
data['H1GI6C']=data['H1GI6C'].replace(6, numpy.nan)
data['H1GI6C']=data['H1GI6C'].replace(8, numpy.nan)
data['H1GI6D']=data['H1GI6D'].replace(6, numpy.nan)
data['H1GI6D']=data['H1GI6D'].replace(8, numpy.nan)

#count of number of ethnicity categories endorsed, NUMETHNIC
data['NUMETHNIC']=data['H1GI4'] + data['H1GI6A'] + data['H1GI6B'] + data['H1GI6C'] + data['H1GI6D'] 
print('NUMETHNIC')

In [ ]:

# subset variables in new data frame, sub1
sub1=data[['AID','H1GI4', 'H1GI6A', 'H1GI6B', 'H1GI6C', 'H1GI6D', 'NUMETHNIC']]

a = sub1.head (n=10)
print(a)

In [ ]:

#new ETHNICITY variable, categorical 1 through 6
def ETHNICITY (row):
   if row['NUMETHNIC'] > 1 :
      return 1
   if row['H1GI4'] == 1 :
      return 2
   if row['H1GI6A'] == 1:
      return 3
   if row['H1GI6B'] == 1:
      return 4
   if row['H1GI6C'] == 1:
      return 5
   if row['H1GI6D'] == 1:
      return 6
sub1['ETHNICITY'] = sub1.apply (lambda row: ETHNICITY (row),axis=1)

a = sub1.head (n=10)
print(a)

In [ ]:

#frequency distributions for primary and secondary ethinciity variables
print 'counts for Hispanic/Latino'
c10 = sub1['H1GI4'].value_counts(sort=False)
print(c10)

In [ ]:

print 'percentages for Hispanic/Latino'
p10 = sub1['H1GI4'].value_counts(sort=False, normalize=True)
print (p10)

In [ ]:

print 'counts for Black/African American'
c11 = sub1['H1GI6A'].value_counts(sort=False)
print(c11)

In [ ]:

print 'percentages for Black/African American'
p11= sub1['H1GI6A'].value_counts(sort=False, normalize=True)
print (p11)

In [ ]:

print 'counts for American Indian/Native American'
c12 = sub1['H1GI6B'].value_counts(sort=False)
print(c12)

In [ ]:

print 'percentages for American Indian/Native American'
p12 = sub1['H1GI6B'].value_counts(sort=False, normalize=True)
print (p12)

In [ ]:

print 'counts for Asian/Pacific Islander'
c13 = sub1['H1GI6C'].value_counts(sort=False)
print(c13)

In [ ]:

print 'percentages for Asian/Pacific Islander'
p13 = sub1['H1GI6C'].value_counts(sort=False, normalize=True)
print (p13)

In [ ]:

print 'counts for White'
c14 = sub1['H1GI6D'].value_counts(sort=False)
print(c14)

In [ ]:

print 'percentages for White'
p14 = sub1['H1GI6D'].value_counts(sort=False, normalize=True)
print (p14)

In [ ]:

print 'counts for number of races/ethnicities endorsed'
c15 = sub1['NUMETHNIC'].value_counts(sort=False)
print(c15)

In [ ]:

print 'counts for each Ethnic group'
c16 = sub1['ETHNICITY'].value_counts(sort=False)
print(c16)

In [ ]:

print 'percentages for each Ethnic Group'
p16 = sub1['ETHNICITY'].value_counts(sort=False, normalize=True)
print (p16)