In [4]:

import pandas as pd

data_url = "http://www.nsstc.uah.edu/data/msu/v6.0beta/tlt/uahncdc_lt_6.0beta5.txt"
CSV_PARAMS = dict(
    header=0,
    index_col=0,
    skipinitialspace=True,
    na_filter=False,
    skipfooter=12,
    delim_whitespace=True,
    engine='python',
)
uah_lo_df = pd.read_csv(data_url, **CSV_PARAMS)

In [9]:

uah_lo_df.sample(10).T.sample(15).T

,Ocean.3,Ocean,Land.5,Ocean.2,Ocean.7,Land.7,USA49,Land.3,Trpcs,NH,AUST,NoPol,Land.2,Ocean.5,Land.6
Year,,,,,,,,,,,,,,,
1993,0.06,-0.05,-0.08,0.00,0.12,-0.35,-0.19,-0.04,0.04,-0.20,-0.26,-0.42,-0.07,-0.04,-0.28
2003,0.31,0.27,0.26,0.34,0.21,0.33,-0.27,0.27,0.30,0.02,0.08,-0.35,0.28,0.33,-0.66
2004,0.32,0.23,0.35,0.29,0.16,0.64,-0.25,0.30,0.32,0.12,-0.07,0.71,0.33,0.27,0.54
1986,-0.11,-0.24,-0.50,-0.22,-0.45,-1.02,-0.71,-0.47,-0.19,-0.33,-0.12,-0.79,-0.52,-0.26,-0.50
1979,-0.19,-0.20,-0.64,-0.12,-0.85,-1.79,-0.53,-0.29,-0.22,-0.35,-0.34,-0.49,-0.45,-0.11,-0.82
1994,0.01,-0.07,-0.35,-0.09,-0.61,-0.71,-0.59,0.04,0.02,-0.12,0.05,-0.71,-0.22,-0.16,-0.97
1999,-0.29,-0.08,-0.73,-0.14,-0.25,-0.46,1.50,-0.21,-0.27,0.08,-1.43,0.10,-0.56,-0.06,-0.02
2003,0.21,0.16,0.07,0.06,0.20,0.05,0.41,0.20,0.21,0.23,-0.09,0.45,0.11,-0.01,0.18
2002,0.25,0.24,0.31,0.41,0.32,0.04,-0.36,0.26,0.25,-0.02,0.53,-0.07,0.27,0.47,-0.27
1999,-0.34,0.02,0.15,0.15,0.09,-0.10,0.46,0.03,-0.25,0.19,0.04,0.01,0.08,0.36,0.11