In [1]:

%run ../../load_magic/storage.py
%run ../../load_magic/dataframes.py
import urllib.request
import re
from bs4 import BeautifulSoup
%pprint
%who

DATA_FOLDER: ../data/
SAVES_FOLDER: ../saves/
Pretty printing has been turned OFF
BeautifulSoup	 DATA_CSV_FOLDER	 DATA_FOLDER	 ENCODING_TYPE	 SAVES_CSV_FOLDER	 SAVES_FOLDER	 SAVES_PICKLE_FOLDER	 attempt_to_pickle	 example_iterrows
get_column_descriptions	 load_csv	 load_dataframes	 load_object	 math	 os	 pd	 pickle	 re
save_dataframes	 store_objects	 sys	 urllib

In [246]:

index_name = 'Bonus Name'
dataframes_dict = load_dataframes(civilization_bonuses_df='civilization_bonuses_df')
civilization_bonuses_df = dataframes_dict['civilization_bonuses_df']
if 'Unnamed: 0' in civilization_bonuses_df.columns:
    civilization_bonuses_df = civilization_bonuses_df.set_index('Unnamed: 0')
elif index_name in civilization_bonuses_df.columns:
    civilization_bonuses_df = civilization_bonuses_df.set_index(index_name)
civilization_bonuses_df.index.name = index_name

Attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\pickle\civilization_bonuses_df.pickle.
No pickle exists - attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\csv\civilization_bonuses_df.csv.


# Aztecs: All military units are created 15% faster.

In [260]:

# Aztecs: All military units are created 15% faster.
resource_set = set()
for column_name in unit_availability_df.columns:
    resource_boolean = ('aztec' in column_name.lower())
    resource_boolean = resource_boolean or ('civil' in column_name.lower())
    resource_boolean = resource_boolean or ('train' in column_name.lower())
    resource_boolean = resource_boolean or ('time' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'Aztecs', 'In_Civilian_Unit_Type', 'In_Civilian_Ship_Unit_Type', 'UpTime', 'TrainTime'}

In [261]:

# Aztecs: All military units are created 15% faster.
unit_set = set()
for index_name in unit_availability_df.index:
    index_boolean = ('aztec' in index_name.lower())
    index_boolean = index_boolean or ('civil' in index_name.lower())
    index_boolean = index_boolean or ('train' in index_name.lower())
    index_boolean = index_boolean or ('time' in index_name.lower())
    if index_boolean:
        unit_set.add(index_name)
unit_set

set()

In [263]:

# Aztecs: All military units are created 15% faster.
match_series = (unit_availability_df['Aztecs'] == 1)
match_series = match_series & (unit_availability_df['In_Civilian_Unit_Type'] == 0)
match_series = match_series & (unit_availability_df['In_Civilian_Ship_Unit_Type'] == 0)
military_units_df = unit_availability_df[match_series]
military_units_list = military_units_df.index.tolist()
columns_list = ['UpTime', 'TrainTime']
military_units_df[columns_list].sort_values(columns_list)

                       UpTime  TrainTime
Unit Name
Elite Eagle Warrior         0         20
Champion                    0         21
Halberdier                  0         22
Petard                      0         25
Arbalest                    0         27
Heavy Cavalry Archer        0         27
Paladin                     0         30
Heavy Scorpion              0         30
Hussar                      0         30
Heavy Demolition Ship       0         31
Hand Cannoneer              0         34
Fast Fire Ship              0         36
Siege Ram                   0         36
Siege Tower                 0         36
Elite Cannon Galleon        0         46
Siege Onager                0         46
Transport Ship              0         46
Trebuchet (packed)          0         50
Trebuchet (unpacked)        0         50
Monk                        0         51
Bombard Cannon              0         56
Archer                     35         35
Militia                    40         21
Elite Jaguar Warrior       45         17
Jaguar Warrior             45         17
Man-at-Arms                45         21
Spearman                   45         22
Elite Skirmisher           50         22
Skirmisher                 50         22
Pikeman                    50         22
Crossbowman                50         27
Scorpion                   50         30
Demolition Ship            50         31
Eagle Warrior              50         35
Eagle Scout                50         35
Fire Ship                  50         36
Battering Ram              50         36
Demolition Raft            50         45
Galley                     50         60
Fire Galley                50         60
War Galley                 65         36
Long Swordsman             75         21
Capped Ram                 75         36
Mangonel                   75         46
Two-Handed Swordsman      100         21
Camel                     105         22
Heavy Camel               125         22
Onager                    150         46

In [265]:

# Aztecs: All military units are created 15% faster.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for unit_name in military_units_list:
    column_name = '{}_creation_speed'.format(re.sub(' +', '_', unit_name))
    column_value = unit_availability_df.loc[unit_name, 'TrainTime']
    column_name_list.append(column_name)
    civilization_bonuses_df[column_name] = column_value

In [266]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

,Huns,Spanish,Vietnamese,Indians,Chinese
Bonus Name,,,,,
Arbalest_creation_speed,27.0,27.0,27.0,27.0,27.0
Archer_creation_speed,35.0,35.0,35.0,35.0,35.0
Crossbowman_creation_speed,27.0,27.0,27.0,27.0,27.0
Elite_Skirmisher_creation_speed,22.0,22.0,22.0,22.0,22.0
Hand_Cannoneer_creation_speed,34.0,34.0,34.0,34.0,34.0
Heavy_Cavalry_Archer_creation_speed,27.0,27.0,27.0,27.0,27.0
Skirmisher_creation_speed,22.0,22.0,22.0,22.0,22.0
Camel_creation_speed,22.0,22.0,22.0,22.0,22.0
Heavy_Camel_creation_speed,22.0,22.0,22.0,22.0,22.0
Paladin_creation_speed,30.0,30.0,30.0,30.0,30.0
Champion_creation_speed,21.0,21.0,21.0,21.0,21.0
Long_Swordsman_creation_speed,21.0,21.0,21.0,21.0,21.0
Man-at-Arms_creation_speed,21.0,21.0,21.0,21.0,21.0
Militia_creation_speed,21.0,21.0,21.0,21.0,21.0
Pikeman_creation_speed,22.0,22.0,22.0,22.0,22.0
Spearman_creation_speed,22.0,22.0,22.0,22.0,22.0
Two-Handed_Swordsman_creation_speed,21.0,21.0,21.0,21.0,21.0
Demolition_Ship_creation_speed,31.0,31.0,31.0,31.0,31.0
Elite_Cannon_Galleon_creation_speed,46.0,46.0,46.0,46.0,46.0
Fast_Fire_Ship_creation_speed,36.0,36.0,36.0,36.0,36.0
Fire_Ship_creation_speed,36.0,36.0,36.0,36.0,36.0
Galley_creation_speed,60.0,60.0,60.0,60.0,60.0
Heavy_Demolition_Ship_creation_speed,31.0,31.0,31.0,31.0,31.0
War_Galley_creation_speed,36.0,36.0,36.0,36.0,36.0
Battering_Ram_creation_speed,36.0,36.0,36.0,36.0,36.0
Bombard_Cannon_creation_speed,56.0,56.0,56.0,56.0,56.0
Capped_Ram_creation_speed,36.0,36.0,36.0,36.0,36.0
Heavy_Scorpion_creation_speed,30.0,30.0,30.0,30.0,30.0
Mangonel_creation_speed,46.0,46.0,46.0,46.0,46.0
Onager_creation_speed,46.0,46.0,46.0,46.0,46.0
Scorpion_creation_speed,30.0,30.0,30.0,30.0,30.0
Siege_Onager_creation_speed,46.0,46.0,46.0,46.0,46.0
Siege_Ram_creation_speed,36.0,36.0,36.0,36.0,36.0
Trebuchet_(packed)_creation_speed,50.0,50.0,50.0,50.0,50.0
Trebuchet_(unpacked)_creation_speed,50.0,50.0,50.0,50.0,50.0
Demolition_Raft_creation_speed,45.0,45.0,45.0,45.0,45.0
Fire_Galley_creation_speed,60.0,60.0,60.0,60.0,60.0
Siege_Tower_creation_speed,36.0,36.0,36.0,36.0,36.0
Monk_creation_speed,51.0,51.0,51.0,51.0,51.0
Transport_Ship_creation_speed,46.0,46.0,46.0,46.0,46.0
Eagle_Warrior_creation_speed,35.0,35.0,35.0,35.0,35.0
Elite_Eagle_Warrior_creation_speed,20.0,20.0,20.0,20.0,20.0
Elite_Jaguar_Warrior_creation_speed,17.0,17.0,17.0,17.0,17.0
Halberdier_creation_speed,22.0,22.0,22.0,22.0,22.0
Hussar_creation_speed,30.0,30.0,30.0,30.0,30.0
Jaguar_Warrior_creation_speed,17.0,17.0,17.0,17.0,17.0
Petard_creation_speed,25.0,25.0,25.0,25.0,25.0
Eagle_Scout_creation_speed,35.0,35.0,35.0,35.0,35.0

In [268]:

columns_list = civilization_bonuses_df.columns
file_path = os.path.join(DATA_CSV_FOLDER, 'civilization_bonuses_df.csv')
print('Saving to {}'.format(os.path.abspath(file_path)))
civilization_bonuses_df[columns_list].to_csv(file_path)
save_dataframes(include_index=True, civilization_bonuses_df=civilization_bonuses_df[columns_list])
xlsx_folder = os.path.join(DATA_FOLDER, 'xlsx')
os.makedirs(name=xlsx_folder, exist_ok=True)
file_path = os.path.join(xlsx_folder, 'civilization_bonuses_df.xlsx')
print('Saving to {}'.format(os.path.abspath(file_path)))
civilization_bonuses_df[columns_list].to_excel(file_path)

Saving to C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\data\csv\civilization_bonuses_df.csv
Saving to C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\csv\civilization_bonuses_df.csv
Saving to C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\data\xlsx\civilization_bonuses_df.xlsx


## Franks: Cavalry has +20% HP.

In [5]:

# Cavalry has +20% HP.
resource_set = set()
for column_name in unit_availability_df.columns:
    resource_boolean = ('franks' in column_name.lower())
    resource_boolean = resource_boolean or ('cavalry' in column_name.lower())
    resource_boolean = resource_boolean or ('hp' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'In_Cavalry_Archer_Unit_Type', 'Franks', 'AttackBonusvsCavalry_archer', 'In_Cavalry_Armor_class', 'In_Cavalry_archer_Armor_class', 'HP', 'AttackBonusvsCavalry', 'In_Cavalry_Unit_Type'}

In [9]:

# Cavalry has +20% HP.
match_series = (unit_availability_df['In_Cavalry_Armor_class'] == 1)
match_series = match_series | (unit_availability_df['In_Cavalry_Unit_Type'] == 1)
match_series = match_series | (unit_availability_df['In_Cavalry_Archer_Unit_Type'] == 1)
match_series = match_series | (unit_availability_df['In_Cavalry_archer_Armor_class'] == 1)
match_series = match_series & (unit_availability_df['Franks'] == 1)
columns_list = ['Building', 'In_Cavalry_Armor_class', 'In_Cavalry_archer_Armor_class',
                'In_Cavalry_Unit_Type', 'In_Cavalry_Archer_Unit_Type']
unit_availability_df[match_series][columns_list].sort_values(columns_list)

,Building,In_Cavalry_Armor_class,In_Cavalry_archer_Armor_class,In_Cavalry_Unit_Type,In_Cavalry_Archer_Unit_Type
Unit Name,,,,,
Cavalry Archer,Archery Range,1,1,0,1
Heavy Cavalry Archer,Archery Range,1,1,0,1
Cavalier,Stable,1,0,1,0
Knight,Stable,1,0,1,0
Light Cavalry,Stable,1,0,1,0
Paladin,Stable,1,0,1,0
Scout Cavalry,Stable,1,0,1,0

In [11]:

# Cavalry has +20% HP.
unit_set = set()
for index_name in unit_availability_df[match_series].index:
    unit_set.add(index_name)
unit_set

{'Knight', 'Cavalier', 'Paladin', 'Heavy Cavalry Archer', 'Cavalry Archer', 'Scout Cavalry', 'Light Cavalry'}

In [12]:

# Cavalry has +20% HP.
unit_availability_df.loc[unit_set, resource_set].T

Unit Name,Knight,Cavalier,Paladin,Heavy Cavalry Archer,Cavalry Archer,Scout Cavalry,Light Cavalry
In_Cavalry_Archer_Unit_Type,0,0,0,1,1,0,0
Franks,1,1,1,1,1,1,1
AttackBonusvsCavalry_archer,0,0,0,0,0,0,0
In_Cavalry_Armor_class,1,1,1,1,1,1,1
In_Cavalry_archer_Armor_class,0,0,0,1,1,0,0
HP,100,120,160,60,50,45,60
AttackBonusvsCavalry,0,0,0,0,0,0,0
In_Cavalry_Unit_Type,1,1,1,0,0,1,1

In [15]:

# Cavalry has +20% HP.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for unit_name in unit_set:
    column_name = '{}_HP_rating'.format(re.sub(' +', '_', unit_name))
    column_value = unit_availability_df.loc[unit_name, 'HP']
    column_name_list.append(column_name)
    civilization_bonuses_df[column_name] = column_value

In [16]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                                Byzantines  Berbers  Celts  Khmer  Italians
Bonus Name
Knight_HP_rating                     100.0    100.0  100.0  100.0     100.0
Cavalier_HP_rating                   120.0    120.0  120.0  120.0     120.0
Paladin_HP_rating                    160.0    160.0  160.0  160.0     160.0
Heavy_Cavalry_Archer_HP_rating        60.0     60.0   60.0   60.0      60.0
Cavalry_Archer_HP_rating              50.0     50.0   50.0   50.0      50.0
Scout_Cavalry_HP_rating               45.0     45.0   45.0   45.0      45.0
Light_Cavalry_HP_rating               60.0     60.0   60.0   60.0      60.0


## Turks: Chemistry is free.

In [28]:

# Turks: Chemistry is free.
resource_set = set()
for column_name in technology_availability_df.columns:
    resource_boolean = ('turks' in column_name.lower())
    resource_boolean = resource_boolean or ('chemistry' in column_name.lower())
    resource_boolean = resource_boolean or ('gold' in column_name.lower())
    resource_boolean = resource_boolean or ('food' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'Gold', 'Food', 'Turks'}

In [29]:

# Turks: Chemistry is free.
technology_set = set()
for index_name in technology_availability_df.index:
    index_boolean = ('turks' in index_name.lower())
    index_boolean = index_boolean or ('chemistry' in index_name.lower())
    index_boolean = index_boolean or ('gold' in index_name.lower())
    index_boolean = index_boolean or ('food' in index_name.lower())
    if index_boolean:
        technology_set.add(index_name)
technology_set

{'Chemistry', 'Gold Mining', 'Gold Shaft Mining'}

In [30]:

# Turks: Chemistry is free.
technology_availability_df.loc[technology_set, resource_set].T

Technology Name  Chemistry  Gold Mining  Gold Shaft Mining
Gold                   200            0                  0
Food                   300          100                200
Turks                    1            1                  1


## Vietnamese: Conscription is free.

In [32]:

# Vietnamese: Conscription is free.
resource_set = set()
for column_name in technology_availability_df.columns:
    resource_boolean = ('vietnam' in column_name.lower())
    resource_boolean = resource_boolean or ('conscript' in column_name.lower())
    resource_boolean = resource_boolean or ('gold' in column_name.lower())
    resource_boolean = resource_boolean or ('food' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'Vietnamese', 'Gold', 'Food'}

In [33]:

# Vietnamese: Conscription is free.
technology_set = set()
for index_name in technology_availability_df.index:
    index_boolean = ('vietnam' in index_name.lower())
    index_boolean = index_boolean or ('conscript' in index_name.lower())
    index_boolean = index_boolean or ('gold' in index_name.lower())
    index_boolean = index_boolean or ('food' in index_name.lower())
    if index_boolean:
        technology_set.add(index_name)
technology_set

{'Conscription', 'Gold Mining', 'Gold Shaft Mining'}

In [34]:

# Vietnamese: Conscription is free.
technology_availability_df.loc[technology_set, resource_set].T

Technology Name  Conscription  Gold Mining  Gold Shaft Mining
Vietnamese                  1            1                  0
Gold                      150            0                  0
Food                      150          100                200

In [43]:

# Vietnamese: Conscription is free.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for resource_name in ['Gold', 'Food']:
    column_name = 'Conscription_{}_cost'.format(resource_name)
    column_value = technology_availability_df.loc['Conscription', resource_name]
    column_name_list.append(column_name)
    civilization_bonuses_df[column_name] = column_value

In [44]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                        Malians  Mayans  Saracens  Goths   Huns
Bonus Name
Conscription_Gold_cost    150.0   150.0     150.0  150.0  150.0
Conscription_Food_cost    150.0   150.0     150.0  150.0  150.0

In [45]:

columns_list = civilization_bonuses_df.columns
file_path = os.path.join(DATA_CSV_FOLDER, 'civilization_bonuses_df.csv')
print('Saving to {}'.format(os.path.abspath(file_path)))
civilization_bonuses_df[columns_list].to_csv(file_path)
save_dataframes(include_index=True, civilization_bonuses_df=civilization_bonuses_df[columns_list])
xlsx_folder = os.path.join(DATA_FOLDER, 'xlsx')
os.makedirs(name=xlsx_folder, exist_ok=True)
file_path = os.path.join(xlsx_folder, 'civilization_bonuses_df.xlsx')
print('Saving to {}'.format(os.path.abspath(file_path)))
civilization_bonuses_df[columns_list].to_excel(file_path)

Saving to C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\data\csv\civilization_bonuses_df.csv
Saving to C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\csv\civilization_bonuses_df.csv
Saving to C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\data\xlsx\civilization_bonuses_df.xlsx


## Italians: Dock technologies are 50% cheaper.

In [46]:

# Italians: Dock technologies are 50% cheaper.
resource_set = set()
for column_name in technology_availability_df.columns:
    resource_boolean = ('ital' in column_name.lower())
    resource_boolean = resource_boolean or ('dock' in column_name.lower())
    resource_boolean = resource_boolean or ('building' in column_name.lower())
    resource_boolean = resource_boolean or ('cost' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'Cost', 'Building', 'Italians'}

In [47]:

# Italians: Dock technologies are 50% cheaper.
technology_set = set()
for index_name in technology_availability_df.index:
    index_boolean = ('ital' in index_name.lower())
    index_boolean = index_boolean or ('dock' in index_name.lower())
    index_boolean = index_boolean or ('building' in index_name.lower())
    index_boolean = index_boolean or ('cost' in index_name.lower())
    if index_boolean:
        technology_set.add(index_name)
technology_set

{'Dry Dock'}

In [50]:

# Italians: Dock technologies are 50% cheaper.
match_series = (technology_availability_df['Italians'] == 1)
match_series = match_series & (technology_availability_df['Building'] == 'Dock')
columns_list = ['Cost', 'Wood', 'Stone', 'Gold', 'Food']
technology_availability_df[match_series][columns_list].sort_values(columns_list[1:])

                       Cost  Wood  Stone  Gold  Food
Technology Name
Careening         250F 150G     0      0   150   250
Shipwright       1000F 300G     0      0   300  1000
Dry Dock          600F 400G     0      0   400   600
Gillnets          150F 200G   200      0     0   150

In [54]:

# Italians: Dock technologies are 50% cheaper.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for resource_name in ['Wood', 'Gold', 'Food']:
    for technology_name in technology_availability_df[match_series].index:
        column_name = '{}_cost_in_{}'.format(re.sub(' +', '_', technology_name), resource_name)
        column_value = technology_availability_df.loc[technology_name, resource_name]
        column_name_list.append(column_name)
        civilization_bonuses_df[column_name] = column_value

In [55]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                         Persians  Koreans  Vietnamese  Franks   Slavs
Bonus Name
Careening_cost_in_Wood        0.0      0.0         0.0     0.0     0.0
Dry_Dock_cost_in_Wood         0.0      0.0         0.0     0.0     0.0
Gillnets_cost_in_Wood       200.0    200.0       200.0   200.0   200.0
Shipwright_cost_in_Wood       0.0      0.0         0.0     0.0     0.0
Careening_cost_in_Gold      150.0    150.0       150.0   150.0   150.0
Dry_Dock_cost_in_Gold       400.0    400.0       400.0   400.0   400.0
Gillnets_cost_in_Gold         0.0      0.0         0.0     0.0     0.0
Shipwright_cost_in_Gold     300.0    300.0       300.0   300.0   300.0
Careening_cost_in_Food      250.0    250.0       250.0   250.0   250.0
Dry_Dock_cost_in_Food       600.0    600.0       600.0   600.0   600.0
Gillnets_cost_in_Food       150.0    150.0       150.0   150.0   150.0
Shipwright_cost_in_Food    1000.0   1000.0      1000.0  1000.0  1000.0


## Franks: Farm upgrades are free.

In [74]:

index_name = 'Technology Name'
dataframes_dict = load_dataframes(technology_availability_df='technology_availability_df')
technology_availability_df = dataframes_dict['technology_availability_df']
if 'Unnamed: 0' in technology_availability_df.columns:
    technology_availability_df = technology_availability_df.set_index('Unnamed: 0')
elif index_name in technology_availability_df.columns:
    technology_availability_df = technology_availability_df.set_index(index_name)
technology_availability_df.index.name = index_name

Attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\pickle\technology_availability_df.pickle.
No pickle exists - attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\csv\technology_availability_df.csv.

In [75]:

# Franks: Farm upgrades are free.
resource_set = set()
for column_name in technology_availability_df.columns:
    resource_boolean = ('frank' in column_name.lower())
    resource_boolean = resource_boolean or ('farm' in column_name.lower())
    resource_boolean = resource_boolean or ('building' in column_name.lower())
    resource_boolean = resource_boolean or ('cost' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'Cost', 'Building', 'Franks'}

In [77]:

# Franks: Farm upgrades are free.
technology_set = set()
for index_name in technology_availability_df.index:
    index_boolean = ('frank' in index_name.lower())
    index_boolean = index_boolean or ('farm' in index_name.lower())
    index_boolean = index_boolean or ('building' in index_name.lower())
    index_boolean = index_boolean or ('up' in index_name.lower())
    if index_boolean:
        technology_set.add(index_name)
technology_set

{'Supremacy'}

In [84]:

farm_regex = re.compile('Farm', re.IGNORECASE)
def get_farm(x):
    if farm_regex.search(str(x)):
        
        return True
    
    else:
        
        return False

farm_df = technology_availability_df.applymap(get_farm)
for column_name in farm_df.columns[farm_df.any(axis=0)]:
    print(column_name)
    print(list(x for x in technology_availability_df[column_name].unique() if 'Farm' in str(x)))
for index_name in farm_df.index[farm_df.any(axis=1)]:
    print(index_name)

Effect
['Farms +175 food', 'Farms +125 food, Villagers +1 food carry capacity', 'Farms +75 food']
Crop Rotation
Heavy Plow
Horse Collar

In [87]:

# Franks: Farm upgrades are free.
columns_list = ['Cost', 'Wood', 'Stone', 'Gold', 'Food']
technology_availability_df.loc[farm_df.index[farm_df.any(axis=1)], columns_list]

                      Cost  Wood  Stone  Gold  Food
Technology Name
Crop Rotation    250F 250W   250      0     0   250
Heavy Plow       125F 125W   125      0     0   125
Horse Collar       75F 75W    75      0     0    75

In [88]:

# Franks: Farm upgrades are free.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for resource_name in ['Wood', 'Food']:
    for technology_name in farm_df.index[farm_df.any(axis=1)]:
        column_name = '{}_cost_in_{}'.format(re.sub(' +', '_', technology_name), resource_name)
        column_value = technology_availability_df.loc[technology_name, resource_name]
        column_name_list.append(column_name)
        civilization_bonuses_df[column_name] = column_value

In [89]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                            Vikings  Franks  Indians  Britons  Mayans
Bonus Name
Crop_Rotation_cost_in_Wood    250.0   250.0    250.0    250.0   250.0
Heavy_Plow_cost_in_Wood       125.0   125.0    125.0    125.0   125.0
Horse_Collar_cost_in_Wood      75.0    75.0     75.0     75.0    75.0
Crop_Rotation_cost_in_Food    250.0   250.0    250.0    250.0   250.0
Heavy_Plow_cost_in_Food       125.0   125.0    125.0    125.0   125.0
Horse_Collar_cost_in_Food      75.0    75.0     75.0     75.0    75.0


## Slavs: Farmers work 15% faster.

In [92]:

wiki_url = 'https://ageofempires.fandom.com'
table_df_list = []
summary_box_url = '{}/wiki/Farm_(Age_of_Empires_II)'.format(wiki_url)
print(summary_box_url)
with urllib.request.urlopen(summary_box_url) as response:
    summary_box_html = response.read()
summary_box_soup = BeautifulSoup(summary_box_html, 'html.parser')
content_text_selector = '#mw-content-text'
content_text_div = summary_box_soup.select(content_text_selector)[0]
children_list = list(content_text_div.children)
for child in children_list:
    if child.name == 'table':
        table_df_list.append(pd.read_html(str(child), header=0)[0])
print(len(table_df_list))

https://ageofempires.fandom.com/wiki/Farm_(Age_of_Empires_II)
4

In [94]:

table_df_list[1]

                   Building  Overall Food Provided  Food Generated per Wood
0                      Farm                    175                     2.92
1       Farm + Horse Collar                    250                     4.17
2         Farm + Heavy Plow                    375                     6.25
3      Farm + Crop Rotation                    550                     9.17
4                 Fish Trap                    715                     7.15
5  Fish Trap + Fishing Ship                    715                     4.09

In [99]:

table_df_list[2].columns = ['Key', 'Value']
indexes_list = [0, 1, 3, 4]
table_df_list[2].iloc[indexes_list]

                  Key                                              Value
0          Strong vs.                                            Nothing
1            Weak vs.                                         Everything
3       Food Quantity  Horse Collar (+75) Heavy Plow (+125) Crop Rota...
4  Construction speed                             Treadmill Crane (+20%)

In [103]:

# Slavs: Farmers work 15% faster.
farmer_work_speed = float(table_df_list[1].loc[0, 'Food Generated per Wood'])
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
column_name = '{}'.format(re.sub(' +', '_', 'Food Generated per Wood'))
column_value = farmer_work_speed
column_name_list.append(column_name)
civilization_bonuses_df[column_name] = column_value

In [104]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                         Vikings  Japanese  Spanish  Huns  Portuguese
Bonus Name
Food_Generated_per_Wood     2.92      2.92     2.92  2.92        2.92


## Teutons: Farms are 33% cheaper.

In [109]:

# Teutons: Farms are 33% cheaper.
resource_set = set()
for column_name in building_availability_df.columns:
    resource_boolean = ('teut' in column_name.lower())
    resource_boolean = resource_boolean or ('farm' in column_name.lower())
    resource_boolean = resource_boolean or ('stone' in column_name.lower())
    resource_boolean = resource_boolean or ('wood' in column_name.lower())
    resource_boolean = resource_boolean or ('gold' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'Wood', 'Gold', 'Teutons', 'UpCost_Wood', 'Stone'}

In [110]:

# Teutons: Farms are 33% cheaper.
building_set = set()
for index_name in building_availability_df.index:
    index_boolean = ('teut' in index_name.lower())
    index_boolean = index_boolean or ('farm' in index_name.lower())
    index_boolean = index_boolean or ('stone' in index_name.lower())
    index_boolean = index_boolean or ('wood' in index_name.lower())
    index_boolean = index_boolean or ('gold' in index_name.lower())
    if index_boolean:
        building_set.add(index_name)
building_set

{'Farm', 'Stone Wall'}

In [111]:

building_availability_df.loc[building_set, resource_set].T

Building Name  Farm  Stone Wall
Wood             60           0
Gold              0           0
Teutons           1           1
UpCost_Wood       0         100
Stone             0           5


## Byzantines: Fire Ships attack 20% faster.

In [112]:

[idx for idx in unit_availability_df.index if 'fire' in idx.lower()]

['Fast Fire Ship', 'Fire Galley', 'Fire Ship']

In [113]:

# Byzantines: Fire Ships attack 20% faster.
match_series = (unit_availability_df.index == 'Fast Fire Ship')
match_series = match_series | (unit_availability_df.index == 'Fire Ship')
match_series = match_series & (unit_availability_df['Byzantines'] == 1)
columns_list = ['ROF']
unit_availability_df[match_series][columns_list].sort_values(columns_list)

                 ROF
Unit Name
Fast Fire Ship  0.25
Fire Ship       0.25


## Indians: Fishermen work 15% faster and carry +15 food.

In [114]:

# From Toothbrush42's approximate resource gathering rates at
# https://www.reddit.com/r/aoe2/comments/1mmb6n/finally_more_data_approximate_resource_gathering/
Berries_per_Villager_per_Minute = 1
Sheep_per_Villager_per_Minute = 1
Boar_per_Villager_per_Minute = 22
Deer_per_Villager_per_Minute = 22
Shore_Fish_per_Villager_per_Minute = 2
Deep_Fish_per_Fishing_Ship_per_Minute = 2
Trapped_Fish_per_Fishing_Ship_per_Minute = 20
Farm_food_per_Villager_per_Minute = 2
Lumber_per_Villager_per_Minute = 2
Gold_per_Villager_per_Minute = 2
Stone_per_Villager_per_Minute = 2


## Japanese: Fishing Ships have double HP, +2 pierce armor, and work 5%/10%/15%/20% faster in the Dark/Feudal/Castle/Imperial Age.

In [127]:

# Japanese: Fishing Ships have double HP,
# +2 pierce armor, and
# work 5%/10%/15%/20% faster in the Dark/Feudal/Castle/Imperial Age.
resource_set = set()
for column_name in unit_availability_df.columns:
    resource_boolean = ('japan' in column_name.lower())
    resource_boolean = resource_boolean or (('fish' in column_name.lower()) and 
                                            ('ship' in column_name.lower()))
    resource_boolean = resource_boolean or ('hp' in column_name.lower())
    resource_boolean = resource_boolean or (('pierce' in column_name.lower()) and
                                            ('armor' in column_name.lower()))
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'Japanese', 'HP', 'PierceArmor'}

In [128]:

# Japanese: Fishing Ships have double HP,
# +2 pierce armor, and
# work 5%/10%/15%/20% faster in the Dark/Feudal/Castle/Imperial Age.
unit_set = set()
for index_name in unit_availability_df.index:
    index_boolean = ('japan' in index_name.lower())
    index_boolean = index_boolean or (('fish' in index_name.lower()) and
                                      ('ship' in index_name.lower()))
    index_boolean = index_boolean or ('hp' in index_name.lower())
    index_boolean = index_boolean or (('pierce' in index_name.lower()) and
                                      ('armor' in index_name.lower()))
    if index_boolean:
        unit_set.add(index_name)
unit_set

{'Fishing Ship'}

In [129]:

# Japanese: Fishing Ships have double HP,
# +2 pierce armor, and
# work 5%/10%/15%/20% faster in the Dark/Feudal/Castle/Imperial Age.
unit_availability_df.loc[unit_set, resource_set].T

Unit Name    Fishing Ship
Japanese                1
HP                     60
PierceArmor             4

In [137]:

# Japanese: Fishing Ships have double HP,
# +2 pierce armor, and
# work 5%/10%/15%/20% faster in the Dark/Feudal/Castle/Imperial Age.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
age_list = ['Dark', 'Feudal', 'Castle', 'Imperial']
Deep_Fish_per_Fishing_Ship_per_Minute = 2

for i, age in enumerate(age_list):
    column_name = 'Fishing_Ship_PierceArmor_rating_in_the_{}_Age'.format(age)
    column_value = unit_availability_df.loc['Fishing Ship', 'PierceArmor']
    column_name_list.append(column_name)
    civilization_bonuses_df[column_name] = column_value
    
for i, age in enumerate(age_list):
    column_name = 'Fishing_Ship_HP_rating_in_the_{}_Age'.format(age)
    column_value = unit_availability_df.loc['Fishing Ship', 'HP']
    column_name_list.append(column_name)
    civilization_bonuses_df[column_name] = column_value
    
for i, age in enumerate(age_list):
    column_name = 'Deep_Fish_per_Fishing_Ship_per_Minute_in_the_{}_Age'.format(age)
    column_value = Deep_Fish_per_Fishing_Ship_per_Minute
    column_name_list.append(column_name)
    civilization_bonuses_df[column_name] = column_value

In [138]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

,Portuguese,Burmese,Indians,Celts,Byzantines
Bonus Name,,,,,
Fishing_Ship_PierceArmor_rating_in_the_Dark_Age,4.0,4.0,4.0,4.0,4.0
Fishing_Ship_PierceArmor_rating_in_the_Feudal_Age,4.0,4.0,4.0,4.0,4.0
Fishing_Ship_PierceArmor_rating_in_the_Castle_Age,4.0,4.0,4.0,4.0,4.0
Fishing_Ship_PierceArmor_rating_in_the_Imperial_Age,4.0,4.0,4.0,4.0,4.0
Fishing_Ship_HP_rating_in_the_Dark_Age,60.0,60.0,60.0,60.0,60.0
Fishing_Ship_HP_rating_in_the_Feudal_Age,60.0,60.0,60.0,60.0,60.0
Fishing_Ship_HP_rating_in_the_Castle_Age,60.0,60.0,60.0,60.0,60.0
Fishing_Ship_HP_rating_in_the_Imperial_Age,60.0,60.0,60.0,60.0,60.0
Deep_Fish_per_Fishing_Ship_per_Minute_in_the_Dark_Age,2.0,2.0,2.0,2.0,2.0
Deep_Fish_per_Fishing_Ship_per_Minute_in_the_Feudal_Age,2.0,2.0,2.0,2.0,2.0
Deep_Fish_per_Fishing_Ship_per_Minute_in_the_Castle_Age,2.0,2.0,2.0,2.0,2.0
Deep_Fish_per_Fishing_Ship_per_Minute_in_the_Imperial_Age,2.0,2.0,2.0,2.0,2.0


## Britons: Foot archers (except Skirmishers ) have +1/+2 range in the Castle/Imperial Age.

In [195]:

# Britons: Foot archers (except Skirmishers ) have +1/+2 range in the Castle/Imperial Age.
resource_set = set()
for column_name in unit_availability_df.columns:
    resource_boolean = ('brit' in column_name.lower())
    resource_boolean = resource_boolean or ('archer' in column_name.lower())
    resource_boolean = resource_boolean or ('range' in column_name.lower())
    resource_boolean = resource_boolean and ('cavalry' not in column_name.lower())
    resource_boolean = resource_boolean and ('skirm' not in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'In_Archer_Unit_Type', 'In_Archer_Armor_class', 'AttackBonusvsArcher', 'Britons', 'Attack_or_Conversion_Range_vs_buildings', 'Attack_or_Conversion_Range_vs_units', 'MinRange'}

In [196]:

# Britons: Foot archers (except Skirmishers ) have +1/+2 range in the Castle/Imperial Age.
unit_set = set()
for index_name in unit_availability_df.index:
    index_boolean = ('brit' in index_name.lower())
    index_boolean = index_boolean or ('archer' in index_name.lower())
    index_boolean = index_boolean or ('range' in index_name.lower())
    index_boolean = index_boolean and ('cavalry' not in index_name.lower())
    index_boolean = index_boolean and ('skirm' not in index_name.lower())
    if index_boolean:
        unit_set.add(index_name)
unit_set

{'Rattan Archer', 'Elephant Archer', 'Elite Elephant Archer', 'Archer', 'Plumed Archer', 'Elite Plumed Archer', 'Elite Camel Archer', 'Elite Rattan Archer', 'Camel Archer'}

In [197]:

# Britons: Foot archers (except Skirmishers ) have +1/+2 range in the Castle/Imperial Age.
unit_availability_df.loc[unit_set, resource_set].T

Unit Name,Rattan Archer,Elephant Archer,Elite Elephant Archer,Archer,Plumed Archer,Elite Plumed Archer,Elite Camel Archer,Elite Rattan Archer,Camel Archer
In_Archer_Unit_Type,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0
In_Archer_Armor_class,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
AttackBonusvsArcher,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Britons,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
Attack_or_Conversion_Range_vs_buildings,4.0,4.0,4.0,4.0,4.0,5.0,4.0,5.0,4.0
Attack_or_Conversion_Range_vs_units,4.0,4.0,4.0,4.0,4.0,5.0,4.0,5.0,4.0
MinRange,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [198]:

unit_availability_df['Building'].unique()

array(['Archery Range', 'Stable', 'Barracks', 'Dock', 'Castle',
       'Siege Workshop', 'Monastery', 'Market', 'Town Center'],
      dtype=object)

In [199]:

# Britons: Foot archers (except Skirmishers ) have +1/+2 range in the Castle/Imperial Age.
match_series = (unit_availability_df['Britons'] == 1)
match_series = match_series & (unit_availability_df['Building'] == 'Archery Range')
match_series = match_series & ((unit_availability_df['In_Archer_Armor_class'] == 1) |
                               (unit_availability_df['In_Archer_Unit_Type'] == 1))
columns_list = ['Attack_or_Conversion_Range_vs_buildings',
                'Attack_or_Conversion_Range_vs_units', 'ROF', 'HP']
unit_availability_df[match_series][columns_list]

,Attack_or_Conversion_Range_vs_buildings,Attack_or_Conversion_Range_vs_units,ROF,HP
Unit Name,,,,
Arbalest,5.0,5.0,2.03,40
Archer,4.0,4.0,2.03,30
Cavalry Archer,4.0,4.0,2.03,50
Crossbowman,5.0,5.0,2.03,35
Elite Skirmisher,5.0,5.0,3.05,35
Heavy Cavalry Archer,4.0,4.0,2.03,60
Skirmisher,4.0,4.0,3.05,30

In [200]:

# Britons: Foot archers (except Skirmishers ) have +1/+2 range in the Castle/Imperial Age.
match_series = (unit_availability_df['Britons'] == 1)
match_series = match_series & (unit_availability_df['ROF'] == 2.03)
match_series = match_series & (unit_availability_df['HP'] < 50)
columns_list = ['Attack_or_Conversion_Range_vs_buildings',
                'Attack_or_Conversion_Range_vs_units', 'MinRange', 'Food']
unit_availability_df[match_series][columns_list]

,Attack_or_Conversion_Range_vs_buildings,Attack_or_Conversion_Range_vs_units,MinRange,Food
Unit Name,,,,
Arbalest,5.0,5.0,0.0,0
Archer,4.0,4.0,0.0,0
Crossbowman,5.0,5.0,0.0,0
Scout Cavalry,0.0,0.0,0.0,80
Man-at-Arms,0.0,0.0,0.0,60
Militia,0.0,0.0,0.0,60
Villager,0.0,0.0,0.0,50
Elite Longbowman,6.0,6.0,0.0,0
Longbowman,5.0,5.0,0.0,0

In [201]:

# Britons: Foot archers (except Skirmishers ) have +1/+2 range in the Castle/Imperial Age.
match_series = (unit_availability_df['Britons'] == 1)
match_series = match_series & ((unit_availability_df['Heading'] == 'Archers') |
                               (unit_availability_df['Heading'] == 'Unique'))
match_series = match_series & (unit_availability_df.index.map(lambda x: 'cavalry' not in x.lower()))
match_series = match_series & (unit_availability_df.index.map(lambda x: 'skirm' not in x.lower()))
foot_archers_except_skirmishers_list = unit_availability_df[match_series].index.tolist()

In [214]:

all_ages_list = ['Dark Age', 'Feudal Age', 'Castle Age', 'Imperial Age']
for i, age in enumerate(age_list):
    print(i, age, all_ages_list[:all_ages_list.index('{} Age'.format(age))+1])

0 Castle ['Dark Age', 'Feudal Age', 'Castle Age']
1 Imperial ['Dark Age', 'Feudal Age', 'Castle Age', 'Imperial Age']

In [215]:

# Britons: Foot archers (except Skirmishers ) have +1/+2 range in the Castle/Imperial Age.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
age_list = ['Castle', 'Imperial']
c = lambda x: 'cavalry' not in x.lower()
s = lambda x: 'skirm' not in x.lower()
for i, age in enumerate(age_list):
    match_series = (unit_availability_df['Britons'] == 1)
    match_series = match_series & ((unit_availability_df['Heading'] == 'Archers') |
                                   (unit_availability_df['Heading'] == 'Unique'))
    match_series = match_series & (unit_availability_df.index.map(c))
    match_series = match_series & (unit_availability_df.index.map(s))
    ages_list = all_ages_list[:all_ages_list.index('{} Age'.format(age))+1]
    match_series = match_series & (unit_availability_df['Age'].isin(ages_list))
    foot_archers_except_skirmishers_list = unit_availability_df[match_series].index.tolist()
    for unit in foot_archers_except_skirmishers_list:
        unit_name = re.sub(' +', '_', unit)
        for cn in ['Attack_or_Conversion_Range_vs_buildings',
                   'Attack_or_Conversion_Range_vs_units']:
            column_name = '{}_{}_in_the_{}_Age'.format(unit_name, cn, age)
            column_value = unit_availability_df.loc[unit, cn]
            column_name_list.append(column_name)
            civilization_bonuses_df[column_name] = column_value

In [216]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

,Byzantines,Italians,Mongols,Franks,Mayans
Bonus Name,,,,,
Archer_Attack_or_Conversion_Range_vs_buildings_in_the_Castle_Age,4.0,4.0,4.0,4.0,4.0
Archer_Attack_or_Conversion_Range_vs_units_in_the_Castle_Age,4.0,4.0,4.0,4.0,4.0
Crossbowman_Attack_or_Conversion_Range_vs_buildings_in_the_Castle_Age,5.0,5.0,5.0,5.0,5.0
Crossbowman_Attack_or_Conversion_Range_vs_units_in_the_Castle_Age,5.0,5.0,5.0,5.0,5.0
Elite_Longbowman_Attack_or_Conversion_Range_vs_buildings_in_the_Castle_Age,6.0,6.0,6.0,6.0,6.0
Elite_Longbowman_Attack_or_Conversion_Range_vs_units_in_the_Castle_Age,6.0,6.0,6.0,6.0,6.0
Longbowman_Attack_or_Conversion_Range_vs_buildings_in_the_Castle_Age,5.0,5.0,5.0,5.0,5.0
Longbowman_Attack_or_Conversion_Range_vs_units_in_the_Castle_Age,5.0,5.0,5.0,5.0,5.0
Arbalest_Attack_or_Conversion_Range_vs_buildings_in_the_Imperial_Age,5.0,5.0,5.0,5.0,5.0
Arbalest_Attack_or_Conversion_Range_vs_units_in_the_Imperial_Age,5.0,5.0,5.0,5.0,5.0
Archer_Attack_or_Conversion_Range_vs_buildings_in_the_Imperial_Age,4.0,4.0,4.0,4.0,4.0
Archer_Attack_or_Conversion_Range_vs_units_in_the_Imperial_Age,4.0,4.0,4.0,4.0,4.0
Crossbowman_Attack_or_Conversion_Range_vs_buildings_in_the_Imperial_Age,5.0,5.0,5.0,5.0,5.0
Crossbowman_Attack_or_Conversion_Range_vs_units_in_the_Imperial_Age,5.0,5.0,5.0,5.0,5.0
Elite_Longbowman_Attack_or_Conversion_Range_vs_buildings_in_the_Imperial_Age,6.0,6.0,6.0,6.0,6.0
Elite_Longbowman_Attack_or_Conversion_Range_vs_units_in_the_Imperial_Age,6.0,6.0,6.0,6.0,6.0
Longbowman_Attack_or_Conversion_Range_vs_buildings_in_the_Imperial_Age,5.0,5.0,5.0,5.0,5.0
Longbowman_Attack_or_Conversion_Range_vs_units_in_the_Imperial_Age,5.0,5.0,5.0,5.0,5.0


## Mayans: Foot archers are 10%/20%/30% cheaper in the Feudal/Castle/Imperial Age.

In [230]:

# Basically, foot archers are in the archer armor class,
# not in the cavalry archer or cavalry armor class, and
# can be of the archer unit type but not the gunpowder unit type.
match_series = True
match_series = match_series & (unit_availability_df['In_Archer_Armor_class'] == 1)
match_series = match_series & (unit_availability_df['In_Cavalry_archer_Armor_class'] == 0)
match_series = match_series & (unit_availability_df['In_Cavalry_Armor_class'] == 0)
match_series = match_series & (unit_availability_df['In_Gunpowder_unit_Unit_Type'] == 0)
foot_archers_list = unit_availability_df[match_series].index.tolist()

In [220]:

# Mayans: Foot archers are 10%/20%/30% cheaper in the Feudal/Castle/Imperial Age.
resource_set = set()
for column_name in unit_availability_df.columns:
    resource_boolean = ('mayan' in column_name.lower())
    resource_boolean = resource_boolean or ('archer' in column_name.lower())
    resource_boolean = resource_boolean or ('cost' in column_name.lower())
    resource_boolean = resource_boolean or ('wood' in column_name.lower())
    resource_boolean = resource_boolean or ('food' in column_name.lower())
    resource_boolean = resource_boolean or ('gold' in column_name.lower())
    resource_boolean = resource_boolean and ('cavalry' not in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'UpCost_food', 'Food', 'Wood', 'In_Archer_Armor_class', 'In_Archer_Unit_Type', 'Gold', 'AttackBonusvsArcher', 'UpCost_gold', 'Mayans', 'UpCost_wood'}

In [221]:

# Mayans: Foot archers are 10%/20%/30% cheaper in the Feudal/Castle/Imperial Age.
unit_set = set()
for index_name in unit_availability_df.index:
    index_boolean = ('mayan' in index_name.lower())
    index_boolean = index_boolean or ('archer' in index_name.lower())
    index_boolean = index_boolean or ('cost' in index_name.lower())
    index_boolean = index_boolean or ('wood' in index_name.lower())
    index_boolean = index_boolean or ('food' in index_name.lower())
    index_boolean = index_boolean or ('gold' in index_name.lower())
    index_boolean = index_boolean and ('cavalry' not in index_name.lower())
    if index_boolean:
        unit_set.add(index_name)
unit_set

{'Rattan Archer', 'Elephant Archer', 'Elite Elephant Archer', 'Archer', 'Plumed Archer', 'Elite Plumed Archer', 'Elite Camel Archer', 'Elite Rattan Archer', 'Camel Archer'}

In [222]:

# Mayans: Foot archers are 10%/20%/30% cheaper in the Feudal/Castle/Imperial Age.
unit_availability_df.loc[unit_set, resource_set].T

Unit Name,Rattan Archer,Elephant Archer,Elite Elephant Archer,Archer,Plumed Archer,Elite Plumed Archer,Elite Camel Archer,Elite Rattan Archer,Camel Archer
UpCost_food,1000,1000,1000,125,700,700,0,1000,0
Food,0,100,100,0,0,0,0,0,0
Wood,50,0,0,25,40,35,50,50,50
In_Archer_Armor_class,1,1,1,1,1,1,1,1,1
In_Archer_Unit_Type,1,0,0,1,1,1,0,1,0
Gold,45,80,80,45,35,35,60,45,60
AttackBonusvsArcher,0,0,0,0,0,0,0,0,0
UpCost_gold,750,800,800,75,0,0,500,750,500
Mayans,0,0,0,1,1,1,0,0,0
UpCost_wood,0,0,0,0,1000,1000,1000,0,1000

In [228]:

# Mayans: Foot archers are 10%/20%/30% cheaper in the Feudal/Castle/Imperial Age.
match_series = (unit_availability_df['Mayans'] == 1)
match_series = match_series & ((unit_availability_df['Heading'] == 'The Conquerors') |
                               (unit_availability_df['Heading'] == 'Archers'))
match_series = match_series & ((unit_availability_df['In_Archer_Armor_class'] == 1) |
                               (unit_availability_df['In_Archer_Unit_Type'] == 1))
match_series = match_series & (unit_availability_df.index.map(lambda x: 'cavalry' not in x.lower()))
foot_archers_list = unit_availability_df[match_series].index.tolist()
unit_availability_df[match_series][columns_list]

                     Food  Wood  Gold         Heading
Unit Name
Arbalest                0    25    45         Archers
Archer                  0    25    45         Archers
Crossbowman             0    25    45         Archers
Elite Skirmisher       25    35     0         Archers
Skirmisher             25    35     0         Archers
Elite Plumed Archer     0    35    35  The Conquerors
Plumed Archer           0    40    35  The Conquerors

In [232]:

# Mayans: Foot archers are 10%/20%/30% cheaper in the Feudal/Castle/Imperial Age.
match_series = (unit_availability_df['Mayans'] == 1)
match_series = match_series & unit_availability_df.index.isin(foot_archers_list)
columns_list = ['Food', 'Wood', 'Gold', 'Heading']
unit_availability_df[match_series][columns_list]

                     Food  Wood  Gold         Heading
Unit Name
Arbalest                0    25    45         Archers
Archer                  0    25    45         Archers
Crossbowman             0    25    45         Archers
Elite Skirmisher       25    35     0         Archers
Skirmisher             25    35     0         Archers
Elite Plumed Archer     0    35    35  The Conquerors
Plumed Archer           0    40    35  The Conquerors

In [233]:

# Mayans: Foot archers are 10%/20%/30% cheaper in the Feudal/Castle/Imperial Age.
age_list = 'Feudal/Castle/Imperial'.split('/')
all_ages_list = ['Dark Age', 'Feudal Age', 'Castle Age', 'Imperial Age']
for i, age in enumerate(age_list):
    print(i, age, all_ages_list[:all_ages_list.index('{} Age'.format(age))+1])

0 Feudal ['Dark Age', 'Feudal Age']
1 Castle ['Dark Age', 'Feudal Age', 'Castle Age']
2 Imperial ['Dark Age', 'Feudal Age', 'Castle Age', 'Imperial Age']

In [241]:

# Basically, foot archers are in the archer armor class,
# not in the cavalry archer or cavalry armor class, and
# can be of the archer unit type but not the gunpowder unit type.
match_series = (unit_availability_df['Mayans'] == 1)
match_series = match_series & (unit_availability_df['In_Archer_Armor_class'] == 1)
match_series = match_series & (unit_availability_df['In_Cavalry_archer_Armor_class'] == 0)
match_series = match_series & (unit_availability_df['In_Cavalry_Armor_class'] == 0)
basic_match_series = match_series & (unit_availability_df['In_Gunpowder_unit_Unit_Type'] == 0)

In [243]:

# Mayans: Foot archers are 10%/20%/30% cheaper in the Feudal/Castle/Imperial Age.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for i, age in enumerate(age_list):
    ages_list = all_ages_list[:all_ages_list.index('{} Age'.format(age))+1]
    match_series = basic_match_series & (unit_availability_df['Age'].isin(ages_list))
    foot_archers_list = unit_availability_df[match_series].index.tolist()
    for unit in foot_archers_list:
        unit_name = re.sub(' +', '_', unit)
        for cn in ['Food', 'Wood', 'Gold']:
            column_name = '{}_{}_in_the_{}_Age'.format(unit_name, cn, age)
            column_value = unit_availability_df.loc[unit, cn]
            if column_value > 0.0:
                column_name_list.append(column_name)
                civilization_bonuses_df[column_name] = column_value

In [244]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

,Franks,Goths,Slavs,Persians,Khmer
Bonus Name,,,,,
Archer_Wood_in_the_Feudal_Age,25.0,25.0,25.0,25.0,25.0
Archer_Gold_in_the_Feudal_Age,45.0,45.0,45.0,45.0,45.0
Skirmisher_Food_in_the_Feudal_Age,25.0,25.0,25.0,25.0,25.0
Skirmisher_Wood_in_the_Feudal_Age,35.0,35.0,35.0,35.0,35.0
Archer_Wood_in_the_Castle_Age,25.0,25.0,25.0,25.0,25.0
Archer_Gold_in_the_Castle_Age,45.0,45.0,45.0,45.0,45.0
Crossbowman_Wood_in_the_Castle_Age,25.0,25.0,25.0,25.0,25.0
Crossbowman_Gold_in_the_Castle_Age,45.0,45.0,45.0,45.0,45.0
Elite_Skirmisher_Food_in_the_Castle_Age,25.0,25.0,25.0,25.0,25.0
Elite_Skirmisher_Wood_in_the_Castle_Age,35.0,35.0,35.0,35.0,35.0
Skirmisher_Food_in_the_Castle_Age,25.0,25.0,25.0,25.0,25.0
Skirmisher_Wood_in_the_Castle_Age,35.0,35.0,35.0,35.0,35.0
Elite_Plumed_Archer_Wood_in_the_Castle_Age,35.0,35.0,35.0,35.0,35.0
Elite_Plumed_Archer_Gold_in_the_Castle_Age,35.0,35.0,35.0,35.0,35.0
Plumed_Archer_Wood_in_the_Castle_Age,40.0,40.0,40.0,40.0,40.0
Plumed_Archer_Gold_in_the_Castle_Age,35.0,35.0,35.0,35.0,35.0
Arbalest_Wood_in_the_Imperial_Age,25.0,25.0,25.0,25.0,25.0
Arbalest_Gold_in_the_Imperial_Age,45.0,45.0,45.0,45.0,45.0
Archer_Wood_in_the_Imperial_Age,25.0,25.0,25.0,25.0,25.0
Archer_Gold_in_the_Imperial_Age,45.0,45.0,45.0,45.0,45.0
Crossbowman_Wood_in_the_Imperial_Age,25.0,25.0,25.0,25.0,25.0
Crossbowman_Gold_in_the_Imperial_Age,45.0,45.0,45.0,45.0,45.0
Elite_Skirmisher_Food_in_the_Imperial_Age,25.0,25.0,25.0,25.0,25.0
Elite_Skirmisher_Wood_in_the_Imperial_Age,35.0,35.0,35.0,35.0,35.0
Skirmisher_Food_in_the_Imperial_Age,25.0,25.0,25.0,25.0,25.0
Skirmisher_Wood_in_the_Imperial_Age,35.0,35.0,35.0,35.0,35.0
Elite_Plumed_Archer_Wood_in_the_Imperial_Age,35.0,35.0,35.0,35.0,35.0
Elite_Plumed_Archer_Gold_in_the_Imperial_Age,35.0,35.0,35.0,35.0,35.0
Plumed_Archer_Wood_in_the_Imperial_Age,40.0,40.0,40.0,40.0,40.0
Plumed_Archer_Gold_in_the_Imperial_Age,35.0,35.0,35.0,35.0,35.0


## Franks: Foragers work 25% faster.

In [115]:

# From http://aok.heavengames.com/university/strategy/statistics/an-insight-about-gathering/
Villager_Shore_Fish_carrying_capacity = 10
Fishing_Ship_Shore_Fish_carrying_capacity = 15
Forage_Bush_food_gathering_per_second_by_Villager = 0.310
Sheep_food_gathering_per_second_by_Villager = 0.330
Boar_food_gathering_per_second_by_Villager = 0.408
Deer_food_gathering_per_second_by_Villager = 0.408
Shore_Fish_food_gathering_per_second_by_Villager = 0.426
Shore_Fish_food_gathering_per_second_by_Fishing_Ship = 0.280
Deep_Fish_food_gathering_per_second_by_Villager = 0.487
Trapped_Fish_food_gathering_per_second_by_Villager = 0.206
Farm_food_gathering_per_second_by_Villager = 0.319


## Magyars: Forging , Iron Casting , and Blast Furnace are free.

In [288]:

# Select rows with all column values the same value.
index_list = []
for row_index, row_series in civilization_bonuses_df.iterrows():
    if len(set(row_series.values)) == 1:
        index_list.append(row_index)
        #print('It looks like the {} row has all the same values'.format(row_index))
match_series = (civilization_bonuses_df.index.isin(index_list))
civilization_bonuses_df[match_series].T.sample(5).T

Empty DataFrame
Columns: [Turks, Malians, Teutons, Ethiopians, Incas]
Index: []

In [283]:

# Magyars: Forging , Iron Casting , and Blast Furnace are free.
technology_set = set()
for index_name in technology_availability_df.index:
    index_boolean = ('magyars' in index_name.lower())
    index_boolean = index_boolean or ('forg' in index_name.lower())
    index_boolean = index_boolean or ('casting' in index_name.lower())
    index_boolean = index_boolean or ('blast' in index_name.lower())
    if index_boolean:
        technology_set.add(index_name)
technology_set

{'Blast Furnace', 'Forging', 'Iron Casting'}

In [286]:

# Magyars: Forging , Iron Casting , and Blast Furnace are free.
resource_set = set()
for column_name in technology_availability_df.columns:
    resource_boolean = ('magyars' in column_name.lower())
    resource_boolean = resource_boolean or ('gold' in column_name.lower())
    resource_boolean = resource_boolean or ('food' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'Gold', 'Food', 'Magyars'}

In [287]:

# Magyars: Forging , Iron Casting , and Blast Furnace are free.
technology_availability_df.loc[technology_set, resource_set].T

Technology Name  Blast Furnace  Forging  Iron Casting
Gold                       225        0           120
Food                       275      150           220
Magyars                      1        1             1

In [293]:

# Magyars: Forging , Iron Casting , and Blast Furnace are free.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
for tech_name in technology_set:
    for res_name in ['Gold', 'Food']:
        column_name = '{}_cost_in_{}'.format(re.sub(' +', '_', tech_name), res_name)
        column_value = technology_availability_df.loc[tech_name, res_name]
        if column_value > 0:
            column_name_list.append(column_name)
            civilization_bonuses_df[column_name] = column_value

In [294]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                            Japanese  Teutons  Magyars  Khmer  Malay
Bonus Name
Blast_Furnace_cost_in_Gold     225.0    225.0    225.0  225.0  225.0
Blast_Furnace_cost_in_Food     275.0    275.0    275.0  275.0  275.0
Forging_cost_in_Food           150.0    150.0    150.0  150.0  150.0
Iron_Casting_cost_in_Gold      120.0    120.0    120.0  120.0  120.0
Iron_Casting_cost_in_Food      220.0    220.0    220.0  220.0  220.0


## Koreans: Fortifications are built 33% faster.

In [318]:

index_name = 'Building Name'
dataframes_dict = load_dataframes(building_availability_df='building_availability_df')
building_availability_df = dataframes_dict['building_availability_df']
if 'Unnamed: 0' in building_availability_df.columns:
    building_availability_df = building_availability_df.set_index('Unnamed: 0')
elif index_name in building_availability_df.columns:
    building_availability_df = building_availability_df.set_index(index_name)
building_availability_df.index.name = index_name

Attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\pickle\building_availability_df.pickle.
No pickle exists - attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\csv\building_availability_df.csv.

In [319]:

# Koreans: Fortifications are built 33% faster.
building_set = set()
for index_name in building_availability_df.index:
    index_boolean = ('korea' in index_name.lower())
    index_boolean = index_boolean or ('fortif' in index_name.lower())
    index_boolean = index_boolean or ('defens' in index_name.lower())
    index_boolean = index_boolean or ('time' in index_name.lower())
    index_boolean = index_boolean or ('speed' in index_name.lower())
    if index_boolean:
        building_set.add(index_name)
building_set

{'Gate (Fortified)', 'Fortified Wall'}

In [320]:

# Koreans: Fortifications are built 33% faster.
resource_set = set()
for column_name in building_availability_df.columns:
    resource_boolean = ('korea' in column_name.lower())
    resource_boolean = resource_boolean or ('fortif' in column_name.lower())
    resource_boolean = resource_boolean or ('defens' in column_name.lower())
    resource_boolean = resource_boolean or ('time' in column_name.lower())
    resource_boolean = resource_boolean or ('speed' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'Projectile speed', 'Upgrade time', 'Construction time', 'Koreans', 'In_Stone_defense_Armor_class'}

In [321]:

# Koreans: Fortifications are built 33% faster.
fortification_regex = re.compile('(fortif|defens)', re.IGNORECASE)
def get_fort(x):
    x = str(x)
    if fortification_regex.search(x):
        
        # Successful match
        return True
    
    else:
        
        # Match attempt failed
        return False

fort_df = building_availability_df.applymap(get_fort)
for column_name in fort_df.columns[fort_df.any(axis=0)]:
    print(column_name)
    print(building_availability_df[column_name].unique().tolist())

Type
['Wall', 'Defensive structure', 'Tower', 'Military, Economic', 'Military', 'Research', 'Military Defensive structure', 'Economic Military', 'Economic', 'Civilian', 'Special']
Upgraded to
[nan, 'Fortified Wall', 'Keep', 'Guard Tower']

In [322]:

building_availability_df.columns

Index(['Age', 'Required building', 'Upgraded from', 'Required research',
       'Introduced in', 'Type', 'Use', 'Required for', 'Upgraded to', 'Stone',
       'Wood', 'Gold', 'HP_upon_reaching_Dark_Age',
       'HP_upon_reaching_Feudal_Age', 'HP_upon_reaching_Castle_Age',
       'HP_upon_reaching_Imperial_Age', 'Range', 'In_Building_Armor_class',
       'Building_Armor', 'In_Standard_building_Armor_class',
       'In_Stone_defense_Armor_class', 'In_Wall_and_gate_Armor_class',
       'In_Gunpowder_unit_Armor_class', 'In_Castle_Armor_class',
       'Line of Sight', 'Rate of Fire', 'Construction time',
       'Projectile speed', 'Attack', 'Size', 'Upgrade time', 'Attack bonuses',
       'Minimum range', 'Melee armor', 'Accuracy', 'Garrison', 'Pierce armor',
       'UpCost_Food', 'UpCost_Wood', 'Aztecs', 'Berbers', 'Britons', 'Burmese',
       'Byzantines', 'Celts', 'Chinese', 'Ethiopians', 'Franks', 'Goths',
       'Huns', 'Incas', 'Indians', 'Italians', 'Japanese', 'Khmer', 'Koreans',
       'Magyars', 'Malay', 'Malians', 'Mayans', 'Mongols', 'Persians',
       'Portuguese', 'Saracens', 'Slavs', 'Spanish', 'Teutons', 'Turks',
       'Vietnamese', 'Vikings'],
      dtype='object')

In [328]:

# Koreans: Fortifications are built 33% faster.
match_series = (building_availability_df['In_Stone_defense_Armor_class'] == 1)
match_series = match_series & (building_availability_df['Koreans'] == 1)
fortification_list = building_availability_df[match_series].index.tolist()

In [329]:

# Koreans: Fortifications are built 33% faster.
building_availability_df.loc[building_set, resource_set].T

Building Name                Gate (Fortified) Fortified Wall
Projectile speed                          NaN            NaN
Upgrade time                              NaN            NaN
Construction time                          70             10
Koreans                                     1              1
In_Stone_defense_Armor_class                1              1

In [331]:

# Koreans: Fortifications are built 33% faster.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
res_name = 'Construction time'
param_str = re.sub(' +', '_', res_name)
for building_name in fortification_list:
    column_name = '{}_{}'.format(re.sub(' +', '_', building_name), param_str)
    column_value = building_availability_df.loc[building_name, res_name]
    if column_value > 0:
        column_name_list.append(column_name)
        civilization_bonuses_df[column_name] = column_value

In [332]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                                    Turks  Burmese  Britons  Teutons  Indians
Bonus Name
Fortified_Wall_Construction_time     10.0     10.0     10.0     10.0     10.0
Gate_Construction_time               70.0     70.0     70.0     70.0     70.0
Gate_(Fortified)_Construction_time   70.0     70.0     70.0     70.0     70.0
Stone_Wall_Construction_time         10.0     10.0     10.0     10.0     10.0
Bombard_Tower_Construction_time      80.0     80.0     80.0     80.0     80.0
Guard_Tower_Construction_time        80.0     80.0     80.0     80.0     80.0
Keep_Construction_time               80.0     80.0     80.0     80.0     80.0
Watch_Tower_Construction_time        80.0     80.0     80.0     80.0     80.0


## Saracens: Galleys attack 20% faster.

In [335]:

index_name = 'Technology Name'
dataframes_dict = load_dataframes(technology_availability_df='technology_availability_df')
technology_availability_df = dataframes_dict['technology_availability_df']
if 'Unnamed: 0' in technology_availability_df.columns:
    technology_availability_df = technology_availability_df.set_index('Unnamed: 0')
elif index_name in technology_availability_df.columns:
    technology_availability_df = technology_availability_df.set_index(index_name)
technology_availability_df.index.name = index_name

Attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\pickle\technology_availability_df.pickle.
No pickle exists - attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\csv\technology_availability_df.csv.

In [338]:

index_name = 'Unit Name'
dataframes_dict = load_dataframes(unit_availability_df='unit_availability_df')
unit_availability_df = dataframes_dict['unit_availability_df']
if 'Unnamed: 0' in unit_availability_df.columns:
    unit_availability_df = unit_availability_df.set_index('Unnamed: 0')
elif index_name in unit_availability_df.columns:
    unit_availability_df = unit_availability_df.set_index(index_name)
unit_availability_df.index.name = index_name

Attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\pickle\unit_availability_df.pickle.
No pickle exists - attempting to load C:\Users\dev\Documents\repositories\notebooks\age-of-empires-ii\saves\csv\unit_availability_df.csv.

In [342]:

# Saracens: Galleys attack 20% faster.
resource_set = set()
for column_name in unit_availability_df.columns:
    resource_boolean = ('sarac' in column_name.lower())
    resource_boolean = resource_boolean or ('galley' in column_name.lower())
    resource_boolean = resource_boolean or ('rate' in column_name.lower())
    resource_boolean = resource_boolean or ('fire' in column_name.lower())
    resource_boolean = resource_boolean or ('speed' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'Projectile speed', 'Speed', 'Saracens', 'Rate of Fire', 'Speed_upon_reaching_Feudal_Age'}

In [345]:

# Saracens: Galleys attack 20% faster.
unit_set = set()
for index_name in unit_availability_df.index:
    index_boolean = ('sarac' in index_name.lower())
    index_boolean = index_boolean or ('galley' in index_name.lower())
    if index_boolean:
        unit_set.add(index_name)
unit_set

{'War Galley', 'Galley', 'Fire Galley'}

In [346]:

# Saracens: Galleys attack 20% faster.
unit_availability_df.loc[unit_set, resource_set].T

Unit Name                       War Galley  Galley  Fire Galley
Projectile speed                      6.00    6.00         3.00
Speed                                 1.43    1.43         1.30
Saracens                              1.00    1.00         1.00
Rate of Fire                          3.05    3.05         0.25
Speed_upon_reaching_Feudal_Age        1.43    1.43         1.30

In [347]:

# Saracens: Galleys attack 20% faster.
match_series = (unit_availability_df['Saracens'] == 1)
match_series = match_series & (unit_availability_df.index.isin(unit_set))
saracen_galleys_list = unit_availability_df[match_series].index.tolist()
unit_availability_df[match_series][resource_set]

,Projectile speed,Speed,Saracens,Rate of Fire,Speed_upon_reaching_Feudal_Age
Unit Name,,,,,
Galley,6.0,1.43,1,3.05,1.43
War Galley,6.0,1.43,1,3.05,1.43
Fire Galley,3.0,1.30,1,0.25,1.30

In [348]:

# Saracens: Galleys attack 20% faster.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
res_name = 'Rate of Fire'
param_str = re.sub(' +', '_', res_name)
for unit_name in saracen_galleys_list:
    column_name = '{}_{}'.format(re.sub(' +', '_', unit_name), param_str)
    column_value = unit_availability_df.loc[unit_name, res_name]
    if column_value > 0:
        column_name_list.append(column_name)
        civilization_bonuses_df[column_name] = column_value

In [349]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                          Khmer  Chinese  Huns  Mongols  Britons
Bonus Name
Galley_Rate_of_Fire        3.05     3.05  3.05     3.05     3.05
War_Galley_Rate_of_Fire    3.05     3.05  3.05     3.05     3.05
Fire_Galley_Rate_of_Fire   0.25     0.25  0.25     0.25     0.25


## Turks: Gold Miners work 15% faster.

In [352]:

# Turks: Gold Miners work 15% faster.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
column_name = 'Gold_per_Villager_per_Minute'
column_value = 2
column_name_list.append(column_name)
civilization_bonuses_df[column_name] = column_value

In [353]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                              Franks  Burmese  Saracens  Celts  Portuguese
Bonus Name
Gold_per_Villager_per_Minute     2.0      2.0       2.0    2.0         2.0


## Malians: Gold Mining is free.

In [360]:

# Malians: Gold Mining is free.
resource_set = set()
for column_name in technology_availability_df.columns:
    resource_boolean = ('mali' in column_name.lower())
    resource_boolean = resource_boolean or ('gold' in column_name.lower())
    resource_boolean = resource_boolean or ('wood' in column_name.lower())
    resource_boolean = resource_boolean or ('stone' in column_name.lower())
    resource_boolean = resource_boolean or ('food' in column_name.lower())
    resource_boolean = resource_boolean or ('min' in column_name.lower())
    if resource_boolean:
        resource_set.add(column_name)
resource_set

{'Malians', 'Food', 'Wood', 'Gold', 'Stone'}

In [361]:

# Malians: Gold Mining is free.
technology_set = set()
for index_name in technology_availability_df.index:
    index_boolean = ('mali' in index_name.lower())
    index_boolean = index_boolean or (('mini' in index_name.lower()) and
                                      ('gold' in index_name.lower()))
    if index_boolean:
        technology_set.add(index_name)
technology_set

{'Gold Mining', 'Gold Shaft Mining'}

In [362]:

# Malians: Gold Mining is free.
technology_availability_df.loc[technology_set, resource_set].T

Technology Name  Gold Mining  Gold Shaft Mining
Malians                    1                  1
Food                     100                200
Wood                      75                150
Gold                       0                  0
Stone                      0                  0

In [363]:

# Malians: Gold Mining is free.
match_series = (technology_availability_df['Malians'] == 1)
match_series = match_series & (technology_availability_df.index.isin(technology_set))
technology_availability_df[match_series][resource_set]

                   Malians  Food  Wood  Gold  Stone
Technology Name
Gold Mining              1   100    75     0      0
Gold Shaft Mining        1   200   150     0      0

In [364]:

# Malians: Gold Mining is free.
civilization_bonuses_df = civilization_bonuses_df.T
column_name_list = []
res_name = 'Gold Mining'
param_str = re.sub(' +', '_', res_name)
for cost_var in ['Food', 'Wood']:
    column_name = '{}_cost_in_{}'.format(param_str, cost_var)
    column_value = technology_availability_df.loc[res_name, cost_var]
    if column_value > 0:
        column_name_list.append(column_name)
        civilization_bonuses_df[column_name] = column_value

In [365]:

civilization_bonuses_df = civilization_bonuses_df.T
civilization_bonuses_df.T[column_name_list].sample(5).T

                          Ethiopians  Persians  Chinese  Vietnamese  Japanese
Bonus Name
Gold_Mining_cost_in_Food       100.0     100.0    100.0       100.0     100.0
Gold_Mining_cost_in_Wood        75.0      75.0     75.0        75.0      75.0